{% extends 'main/base.html' %}

{% block body %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <h1>Add a New Book</h1>
    
    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" name="book_form">
    </form>
    <br>
    <h1>Add a New Author</h1>
    <form method="POST"> {% csrf_token %}
        {{ author_form.as_p}}
        <input type="submit" value="Save" name="author_form">
    </form>
    <br>
    <div>
        <a href="{% url 'main' %}">Back to main page</a>
    </div>

{% endblock %}
